apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sub.fullname" . }}
  labels:
    {{- include "sub.labels" . | nindent 4 }}
type: Opaque
data:
  {{- range $key, $value := .Values.secretData }}
  {{ $key | nindent 2 }}: {{ $value | b64enc }}
  {{- end }}
