apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mailer.fullname" . }}
  labels:
    {{- include "mailer.labels" . | nindent 4 }}
data:
  MAILER_SMTP_FROM: <base64 encoded string>
  MAILER_SMTP_PASSWORD: <base64 encoded password>
  MAILER_SMTP_HOST: <base64 encoded host>
  MAILER_SMTP_PORT: <base64 encoded int>
